<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css"></link>
	</head>
	<body id='content'>
		<%- include _templates/_banner %>
		<%- include _templates/_form %>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"
	></script>
	<script src="/javascripts/main.js"></script>
</html>
