<div class="zn-banner" id="zn-banner">
	<div class="floating-icons" id="floating-icons">
	</div>
	<h3>
		Insurance made simple.
	</h3>
	<h5>Join our list of world-class clients.</h5>
	<br />
	<button class="btn btn-primary btn-lg" id="start-harvester">
		Get Free Quote
	</button>
</div>
