<script id="harvester-template" type="text/x-handlebars-template">
  <form class="jumbotron zn-harvester" id="harvester">
		<div class="animated zoomIn">
			<div class="zn-controls" id="zn-close">
				<img
					src="https://cl.ly/012t3I0o0r2W/Image%202016-11-19%20at%208.26.03%20PM.png"
					height="32px"
					width="32px"
				/>
			</div>
	    <section class="zn-step animated" id="step-1">
				<h5 class="title">
					We are glad you decided to get a free quote.
					Tell us a little about you so we can get started.
				</h5>
				<br />
				<div>
					<label for='full_name'>Full Name</label>
					<input type="text" id="full_name" name="full_name" class="form-control">
				</div>
				<div>
					<label for='email'>Email</label>
					<input type="text" id="email" name="email" class="form-control">
				</div>
				<div>
					<label for='company'>Company Name</label>
					<input type="text" id="company" name="company" class="form-control">
				</div>
				<a class="btn waves-effect waves-light" id="zn-next" style="float: right;">
					Next
				</a>
	    </section>
			<section class="zn-step animated" id="step-2">
				<h5 class="title">
					One more step and you'll be all set. Please make sure that the correct company address is entered below:
				</h5>
				<div>
					<label for='company_address'>Company Address</label>
					<input type="text" id="company_address" name="company_address" class="form-control">
				</div>
				<div id="form-map" style="height: 200px;"></div>
				<a class="btn waves-effect waves-light" id="zn-next" style="float: right;">
					Next
				</a>
	    </section>
	  </div>
	</form>
</script>
