<script id="test-template" type="text/x-handlebars-template">
  <div class="jumbotron zn-jumbo overlay">
		<div class="container animated zoomIn">
	    <h1>{{title}}</h1>
	    <div class="body">
	      {{body}}
	    </div>
	  </div>
	</div>
</script>
